body {
	font-family: sans-serif;
	color: white;
	background-color: black;
}
header {
	text-align: center;
}
h1 {
	font-family: serif;
	font-size: 6em;
}

section.difino {
	margin-left: 2px;
	margin-right: 2px;
	padding: .35em .75em .625em .75em;
	border: 2px groove;
}
